@{
    ViewBag.Title = "Table";
}




<div ng-app="root">
    <div ng-controller="tableController" ng-cloak>
        <h2>Table - {{tableID}}</h2>
        <h4>{{username}}</h4>        
        <h3>Connected:</h3>
        <div ng-repeat="u in table.Users">
            {{u.Name}}
        </div>
            
        <h3>Board States:</h3>

        <div ng-bind-html="state"></div>
        <div>
            <input ng-model="inputText" type="text" ng-enter="addMessage()" />
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/angularcontrollers/tableController.js"></script>
    <script src='~/signalr/js'></script>
}