@{
    ViewBag.Title = "Table";
}


<link href="~/Content/Site.css" rel="stylesheet" />

<div ng-app="root" id="root">
    <div ng-controller="tableController" ng-cloak >
        <h2>Table - {{tableID}}</h2>
        <h4>{{username}}</h4>        
        <h3>Connected:</h3>
        <div ng-repeat="u in table.Users">
            {{u.Name}}
        </div>
            
        <h3>Board States:</h3>

        <div id="boardState" ng-keypress="keyPress($event)"></div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/angularcontrollers/tableController.js"></script>
    <script src='~/signalr/js'></script>
    <script src="~/Scripts/d3.v3.js"></script>
}